body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.receiptItem{
  border: 2px solid red;
  padding: 1em;
  margin: 1em;
  min-width: 25%;
  flex: 1fr 1fr 1fr;
  text-align: start;
}
.receiptFullList{
  display: flex;
}
.name{
  font-size: 2em;
  padding-bottom: 1em;
}
.receiptItem>h3{
  padding-bottom: .8em;
}